/* LOB */
/* Hi Sulky!!! GET OUT!!!!!!!!!!!!!!!!!!!! */
@import url(//dablulite.github.io/css-snippets/PrettyFolderIcons/import.css);

@import url("https://dablulite.github.io/css-snippets/BetterStatusPicker/import.css");

@import url(https://raw.githubusercontent.com/U8K50/randomDiscordThemesSnippets/main/DiscordThemeFix.css);

@import url(https://raw.githubusercontent.com/U8K50/randomDiscordThemesSnippets/main/DiscordThemeFix.css);

[class^="panels-3wFtMD"]::before {
    content: "";
    width: 47px;
    height: 47px;
    left: 185px;
    margin-top: -47px;
    position: absolute;
    background-image: url('https://media.discordapp.net/stickers/981087718354325514.webp?size=48&name=LOB&quality=lossless');
}

/* Deletes RETARDED leaf badge for new server members */
[class^="newMemberBadge"] { display: none }

/* Hide Messsage input in profile */
[class*="inputWrapper"][class*="messageInputContainer"] {
    display: none;
}

/* Hide Notes in profile */
[class^="section-"]:has([class^="note"]),
h1:has(+ [class^="note-"]), [class^="note-"]
 {
  display: none;
}
