/* LOB */
/* Hi Sulky!!! GET OUT!!!!!!!!!!!!!!!!!!!! */
[class^="panels-3wFtMD"]::before {
    content: "";
    width: 47px;
    height: 47px;
    left: 185px;
    margin-top: -47px;
    position: absolute;
    background-image: url('https://media.discordapp.net/stickers/981087718354325514.webp?size=48&name=LOB&quality=lossless');
}

/*User Panel*/
.withTagAsButton-OsgQ9L, .withTagless-10ooWt{
    min-width: 212px!important;
    max-width: 60px;
    position: fixed;
    margin-top: -80px;
    margin-left: 5px;
    border-radius: 5px;
}
.container-YkUktl button {
    width: 48px;
    background: var(--bg-overlay-4,var(--background-primary));
    margin: 4px;
    border-radius: 5px;
}
.container-YkUktl{
    padding-top: 40px; 
}

/* Deletes RETARDED leaf badge for new server members */
[class^="newMemberBadge"] { display: none }

/* Hide Messsage input in profile */
[class*="inputWrapper"][class*="messageInputContainer"] {
    display: none;
}

/* Hide Notes in profile */
[class^="section-"]:has([class^="note"]),
h1:has(+ [class^="note-"]), [class^="note-"]
 {
  display: none;
}
